ACTION=="add|change|remove", SUBSYSTEM=="usb", ATTR{idVendor}=="1a86", ATTR{idProduct}=="e5e3", TAG+="systemd", ENV{SYSTEMD_WANTS}+="pulsar-touch-hotplug.service"
ACTION=="add|change|remove", SUBSYSTEM=="usb", ATTR{idVendor}=="4348", ATTR{idProduct}=="55e0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="pulsar-touch-hotplug.service"
ACTION=="add|change|remove", SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHSCREEN}=="1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="pulsar-touch-hotplug.service"
