SYNC_REMOTE_USER=matin
SYNC_REMOTE_HOST=192.168.1.123
SYNC_REMOTE_PORT=22
SYNC_REMOTE_DIR=/home/matin/Pulsar-Cpp-Core
SYNC_REMOTE_GIT_DIR=/home/matin/git/Pulsar-Cpp-Core.git
SYNC_GIT_BRANCH=main
SYNC_INCLUDE_GIT=0
SYNC_DELETE=1
SYNC_POLL_SECONDS=2
SYNC_DEBOUNCE_SECONDS=1
SYNC_AUTO_REMOTE=1
SYNC_BUILD_UI_LOCALLY=0
SYNC_REMOTE_BUILD_UI_ON_SYNC=1
SYNC_REMOTE_BUILD_ON_SYNC=1
SYNC_REMOTE_RESTART_ON_SYNC=1
SYNC_REMOTE_REFRESH_SERVICE_ON_SYNC=0
SYNC_REMOTE_SERVICE=pulsar-kiosk.service
SYNC_INCLUDE_LOCAL_CONFIG=1
SYNC_REMOTE_BACKUP_DIR=/home/matin/pulsar-sync-backups
